# API
fastapi
uvicorn[standard]

# Database
sqlalchemy
geoalchemy2
psycopg2-binary
alembic

# Validation
pydantic
pydantic-settings

# Cache
redis

# Background jobs
celery[redis]

# HTTP client (for external APIs)
httpx

# MTA GTFS-RT feed parsing
gtfs-realtime-bindings

# Env
python-dotenv
anthropic
sentence-transformers
tripadvisor
